---
import { getRelativeLocaleUrl } from 'astro:i18n';
import SectionTitle from '../ui/SectionTitle.astro';
import ProjectModal from '../ui/ProjectCard.tsx';

interface ProjectItem {
    projectTitle: string;
    projectDescription: string;
    projectYear: string;
    projectLinks:{
        code:string;
        demo?:string;
        design?:string;
    },
    techStack: string[];
}

interface Props{
    sectionTitle:string;
    projectStrings:{
        item: ProjectItem[];
    }
}
const {sectionTitle, projectStrings} = Astro.props;
const path = Astro.url.pathname;
const currentLang = path.startsWith('/en') ? 'en' : 'es';
console.log("xd", currentLang)
---

<section class="flex flex-col items-center justify-center md:items-start md:justify-between gap-8 px-6 py-9">
<SectionTitle text={sectionTitle} />

<div class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full">

{projectStrings.item.map((project) => (
        <div class="">
            <ProjectModal 
                client:load
                projectTitle={project.projectTitle}
                projectYear={project.projectYear}
                projectDescription={project.projectDescription}
                projectLinks={project.projectLinks}
                techStack={project.techStack}
                lang={currentLang}
            />
        </div>
    ))}
</div>

</section>
