---
import SectionTitle from '../ui/SectionTitle.astro';
import Button from '../ui/Button.astro';
import LangBar from '../ui/LangBar.astro';
interface Props{
    sectionTitleLeft:string;
    sectionTitleRight:string;
    languages: {language:string; level:string}[];
}

const {sectionTitleLeft, sectionTitleRight,languages} = Astro.props;

const skillsList = ["JavaScript", "React", "TypeScript", "Python", "Node.js", "Tailwind CSS", "Figma", "Markdown", "LaTeX", "Agile/Scrum Methodologies", "MySQL", "Git & GitHub"];
---
<section class="flex flex-col md:flex-row  items-center justify-center md:items-start md:justify-between border-b-8 gap-8 px-6 py-9">
    <div class="flex flex-col gap-6 md:w-1/2 items-center md:items-start">
    <SectionTitle text={sectionTitleLeft} />
    <div class="gap-3 flex flex-wrap justify-center md:justify-start">
        {skillsList.map((skill) => (
            <Button text={skill} href="#Skills" variant='white' className='pointer-events-none' />
        ))}
        
    </div>
    </div>

    <div class="flex flex-col w-1/2 gap-6 items-center md:items-start">
    <SectionTitle text={sectionTitleRight} />
    <div class="w-full flex flex-col gap-3">
        {languages.map((lang) => (
            <LangBar language={lang.language} level={lang.level} />
        ))}
    </div>
    </div>
</section>