---
interface Props {
  text: string;
  href: string;
  variant?: "black" | "white" | "with-logo";
  className?: string;
}

const {
  text,
  href,
  variant = "black",
  className = "",
} = Astro.props;

const baseStyles = "flex items-center justify-center p-4 cursor-pointer uppercase font-bebas text-[16px] active:translate-y-1";

const variantStyles = {
  black: "bg-black text-white border-4 border-black hover:bg-[var(--accent)] hover:text-white hover:border-black shadow-[4px_4px_0_0_#000] active:shadow-none",
  white: "bg-white text-black border-4 border-black hover:bg-[var(--accent)] hover:text-white hover:border-black shadow-[4px_4px_0_0_#000] active:shadow-none",
  'with-logo': "bg-black text-white border-4 border-black hover:bg-[var(--accent)] hover:text-white shadow-[4px_4px_0_0_#000] active:shadow-none gap-2" 
};

const allStyles = `${baseStyles} ${variantStyles[variant]} ${className}`;
---

<a href={href} class={allStyles}>
  <slot/>
  <span class="font-mono">[{text}]</span>
</a>